@media screen and (min-width: 480px) {
    .container {
     max-width: 428px;
   
    } 
  }

  @media  screen and (max-width: 767px) {
    .header-list {
      display: none;
    }

   .header-address {
    display: none;
   }
  } 
