.mobile-menu {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #ffffff;
    
   
}
.container {
position: relative;
}


.mobile-menu_container{
    padding: 80px 40px 40px 40px;
}



.mobile-menu_close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color var(--transition-dur-func-btn-hover); 

    background-color: var(--modal-close-btn-bg-color);
    border: 1px colid var(--modal-close-btn-bg-color);
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
 
.mobile-menu_close-btn:focus{
  background-color: var(--filter-btn-background-hover-color);
}

.mobile-menu_close-icon{
  transition: fill var(--transition-dur-func-btn-hover);
}

.mobile-menu_close-btn:focus .mobile-menu_close-icon{
  fill: var(--filters-btn-text-hover-color)
}

.mobile-menu-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 84px;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
   
}

.mobile-menu-link {
    color: #2e2f42; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;  

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:focus {
    color: #404BBF;
}

.mobile-menu-adress {
    
    
}

.mobile-contacts-list{
    display: flex;
    flex-direction: column;
    gap: 40px;px;
    
}


.mobile-tel-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11; 
    
    color: #434455;

    letter-spacing: 0.02em;
    transition: color var(--transition-dur-func-btn-hover); 
  
}


@media screen and (max-width: 428px) { 
    .mobile-tel-link { 
       font-weight: 500;
        font-size: 20px;
        line-height: 1.2; 
    }  
}

.mobile-tel-link:focus{
    color: var(--hover-link-color);
}


.mobile-mail-link {
    color: #434455;
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    transition: color var(--transition-dur-func-btn-hover); 
}

.mobile-mail-link:focus{
    color: var(--hover-link-color);
}
  




.menu-social {
    
  

}

.menu-social-list {
    display: flex;
    justify-content: space-between;

    margin-top: 48px;
}

.menu-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    fill: var(--text-social-link);
    background-color: var(--background-social-link);
    border-radius: 50%;
    transition: background-color var(--transition-dur-func-btn-hover);
  
}
  

  .menu-social-link:focus {
   background-color: var(--background-social-link-hover);
}


