@media screen and (min-width: 768px) {
    .container {
     max-width: 768px;
    
    } 


    .mobile-menu-open {
        display: none;
    } 

    .header-navigation {
        display: flex;
        align-items: center;
          
    }

    .header-list {
        display: flex;
        align-items: center; 
        margin-left: 76px;   

    }
    .pages{
        gap: 40px;
    }
  
   



    .header-link {
        display: block;
        padding: 24px 0;
        position: relative;
      
        color: var(--header-link-color);
      
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color var(--transition-dur-func-btn-hover);
    }
      
    .header-link:hover,
    .header-link:focus {
        color: var(--hover-link-color);
    }


       
    .current::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0px;
        bottom: -1px;
        background: var(--hover-link-color);
        border-radius: 2px;
      
    }
    .header-address-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 6px;
        
          
    }
      
    .header-contacts { 
        display: flex;
        margin-left: auto;
       
    }
      
      
    .header-mail {
        padding: 24px 0;
        
        color: var(--address-header-color);
       
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color var(--transition-dur-func-btn-hover);
    }
      
    .header-mail:hover,
    .header-mail:focus {
        color: var(--hover-link-color);
    }
      
    .header-tel {
        padding: 24px 0;
      
        color: var(--address-header-color);
      
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color var(--transition-dur-func-btn-hover);
    }
      
    .header-tel:hover,
    .header-tel:focus {
        color: var(--hover-link-color);
    } 
      

    
    .header-contacts {
        display: flex;
        flex-direction: column;
    }
    





















    
    .feature {

        padding-top: 96px;
        padding-bottom: 96px;    
    }

    .feature-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        column-gap: 24px;
    } 

    .feature-item {
        max-width: 350px;
    }



    
    .feature-subtitle {
        margin-bottom: 8px;
        
        color: var(--main-title-subtitle-color);
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
    }
    
    .feature-text { 
        color: var(--main-text-color);
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }

  }

  @media screen and (max-width: ) {
    
  }
  .icon {
    display: none;
}
  